/*login/register styles*/

h1 {
   color: #0B847A;
   font: "Lato", Arial, sans-serif;
   margin-bottom: 40px;
   padding-top: 20px;
   font-weight: 100;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   padding-top: 20px;
   padding-bottom: 40px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 5px;
}

@media(Max-width:763px) {
   .form {
      padding-left: 20px;
      padding-right: 20px;
   }
}

.placeholder {
   margin-bottom: 50px;
   width: 320px;
   height: 40px;
}

.add-input {
   /* margin-bottom: 50px; */
   width: 320px;
   height: 40px;
}

.body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0);
   background-position-x: 0%;
   background-position-y: 0%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: linear-gradient(to right top, rgb(172, 226, 173), rgb(23, 173, 160));
   background-size: cover;
   background-origin: padding-box;
   background-clip: border-box;
   min-height: 100vh;
   margin: -11px;
}

.senha {
   margin-left: -225px;
   margin-top: -40px;

}

.signin {
   background-color: #0B847A;
   color: white;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 13px;
   padding-bottom: 13px;
   border-radius: 3px;
   cursor: pointer;
   font: 14px "Lato", Arial, sans-serif;
   color: #f3eeee;
}

.signin:hover {
   background-color: #0d5852;
}

p {
   cursor: auto;
}

.create {
   display: flex;
   flex-direction: column;
}

.create p:first-child {
   margin-top: 0px;
   margin-right: 5px;
}

.formulario {
   display: flex;
   flex-direction: row;
}

@media (max-width: 450px) {
   .submitBtn {
      display: flex;
      /* Define como flex container */
      justify-content: center;
      /* Centraliza o conteúdo horizontalmente */
      align-items: center;
      /* Centraliza o conteúdo verticalmente */
      text-align: center;
      padding: 15px;
   }
}


/* home styles */

@media (max-width: 763px) {
   .input {
      width: 50%;
      height: 40px;
   }
}


.input:hover {
   border-color: black;
}


.adicionar:hover {
   background-color: #293796;
}


.head {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 10px;
}

.title {
   margin: 0px;
   color: blue;
   font-family: 'PlaywriteGBS';
   src: url(assets/PlaywriteGBS-Italic-VariableFont_wght.ttf);
   font-weight: normal;
   font-style: italic;
   margin-top: -20px;
}

.title img {
   width: 30px;
   margin-left: 5px
}

.add {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 50px;
}


@media (max-width: 763px) {
   .add {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-self: center;
      width: 100px;
   }
}

.add-input {
   height: 50px;
}

@media (max-width: 740px) {
   .add-input {
      height: 40px;
   }
}

button {
   margin-bottom: 8px;
   padding: 4px;
   border-radius: 3px;
   cursor: pointer;
   margin: none;
   margin-left: 10px;
}

.adicionar {
   height: 50px;
   width: 75px;
   background-color: #4250ac;
   border: none;
   border-radius: 4px;
   color: white;
   cursor: pointer;
   margin: none;
   margin-bottom: 0px;
   margin-left: 0px;
}

@media (max-width:767px) {
   .adicionar {
      width: 80px;
      height: 40px;
   }
}


p {
   cursor: pointer;

}


/* list styles */

li {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   justify-content: left;
   cursor: pointer;
   font-family: 'PlaywriteGBS';
   src: url(src/assets/PlaywriteGBS-Italic-VariableFont_wght.ttf);
   font-weight: normal;
   font-style: italic;
   width: 380px;
}


@media (max-width: 740px) {
   li {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 8px;
   }
}

li::after {
   width: 50%;
}


.item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   width: 40%;
   height: 50px;

}


@media (max-width: 740px) {
   .item {
      display: flex;
      align-items: flex-end;
      text-align: center;
      width: 90%;

   }
}


.done {
   text-decoration: line-through;
}



@media (max-width: 765px) {
   #adicionar {
      width: 65px;
      height: 40px;
   }
}

.list-icon {
   padding: 20px;
}

.delete {
   background-color: rgb(236, 38, 38);
   border-color: rgb(143, 28, 28);
   color: white;
   width: 60px;
   text-align: center;

}

@media (max-width: 740px) {
   .delete {
      margin-right: auto;
   }
}

.delete:hover {
   background-color: #c50b0b;
}

button {
   border-width: 1.5px;
   height: 30px;
   font-size: 11.5px;
   border-color: rgb(121, 114, 114);
   transition: transform 0.1s ease;
}

button:active {
   animation: clickAnimation 0.2s ease;
   /* Apply animation on click */
}

/* Define the click animation */
@keyframes clickAnimation {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(0.95);
      /* Shrinks slightly */
   }

   100% {
      transform: scale(1);
      /* Returns to normal size */
   }
}

.button button:first-child {
   border-width: 2px;
   border-color: rgb(150, 145, 145)
}

.edit {
   border-width: 2px;
   margin: 7px;
}

.edit-placeholder {
   margin-left: 10px;
   margin-top: -5px;
   width: 150px;
   padding-top: 10px;
}

.list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-wrap: wrap;
   /* background-color: #0c4fccce;
   padding-bottom: 80px;
   padding-top: 40px;
   border: #081f83ce solid;
   border-radius: 5px;
   margin-left: 200px;
   margin-right: 200px; */
}

@media (max-width: 450px) {
   .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      justify-self: center;
      width: 100%;
   }
} 


.button {
   margin-top: 7px;
   display: flex;
   flex-direction: row;

}

.cancel {
   margin-right: 4em;
   border-width: 2px;
}

.save {
   border-width: 2px;
   margin-left: 38px;
}



@media (max-width:740px) {
   .save-cancel {
      display: flex;
      flex-direction: row;
   }

}

@media(max-width: 740px) {
   .edit-input {
      display: flex;
      flex-direction: row;
   }
}

.edit-input {
   display: flex;
   flex-direction: column;
   height: 50px;
   border-radius: 5px;
   margin-bottom: 5px;
}

